aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
chardet==3.0.4
cycler==0.10.0
idna==2.7
idna-ssl==1.1.0
kiwisolver==1.0.1
matplotlib==2.2.3
multidict==4.4.0
numpy==1.15.1
opencv-contrib-python==3.4.3.18
portpicker==1.2.0
protobuf==3.6.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
s2clientprotocol==4.6.0.67926.0
sc2==0.9.0
six==1.11.0
yarl==1.2.6
